@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

button {
  @apply flex gap-1 justify-center items-center;
  @apply px-6 py-2.5 text-xs uppercase transition duration-150 ease-in-out font-medium leading-tight rounded text-white;
}
button.bt-small {
  @apply px-4 py-1.5;
}
button.bt-primary.bt-outline {
  @apply border-2 border-primary text-primary hover:bg-black hover:bg-opacity-5;
}
button.bt-danger.bt-outline {
  @apply border-2 border-danger text-danger hover:bg-black hover:bg-opacity-5;
}
button.bt-warning.bt-outline {
  @apply border-2 border-warning text-warning hover:bg-black hover:bg-opacity-5;
}
button.bt-primary.bt-default {
  @apply bg-primary hover:bg-primary-dark;
}
button.bt-danger.bt-default {
  @apply bg-danger hover:bg-danger-dark;
}
button.bt-warning.bt-default {
  @apply bg-warning hover:bg-warning-dark;
}
button.bt-rounded {
  @apply rounded-full;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
